/* app css stylesheet */

.hide {
   display: none;
}

.error {
   color: red;
}

.nav, .pagination, .carousel a { cursor: pointer; }

.inline {
   display: table-cell;
   vertical-align: middle;
}

.right {
   display: block;
   float: right;
}

li {
   list-style-type: none;
}

.main_header {
   height: 40px;
   margin: 10px auto;
}

.main_header h3 {
   text-align: center;
   margin: 0;
   padding: 0;
}

.main_header img {
   height: 34px;
}

form.login {
   margin-top: 50px;
}

form.profile {
   margin-top: 20px;
}

form.profile h1 {
   margin-top: 0;
   margin-bottom: 0;
}
