/* app css stylesheet */

.hide {
   display: none;
}

.error {
   color: red;
}

.nav, .pagination, .carousel a { cursor: pointer; }

.inline {
   display: table-cell;
   vertical-align: middle;
   padding-right: 4px;
}

.right {
   display: block;
   float: right;
}

.center-text {
   text-align: center !important;
}

.main_header {
   height: 40px;
   margin: 10px auto;
}

.main_header h3 {
   text-align: center;
   margin: 0;
   padding: 0;
}

.main_header img {
   height: 34px;
}

form.login {
   margin-top: 50px;
}

form.login img {
   display: block;
   margin: 0 auto;
}

form.profile {
   margin-top: 20px;
}

form.profile h1 {
   margin-top: 0;
   margin-bottom: 0;
}

form.profile .input-group {
   margin: 4px 0;
}

.row > *
, .form-group > *
{
/*
border: 1px solid blue;
*/
}

.container {
   min-width: 1200px;
}

.timepicker {
   margin: 0 auto;
}
