
<form class="profile form-horizontal" role="form">

   <div class="form-group">
      <h1 class="col-xs-11" ng-if="!editing">
         <span>{{profile.name}}</span>
      </h1>
      <div class="col-xs-1" ng-if="!editing">
         <button class="btn btn-link" ng-if="!editing" ng-click="toggleEdit()">Edit</button>
      </div>
      <!--div class="form-group" ng-if="editing"-->
         <div class="col-xs-5" ng-if="editing">
            <input type="text" class="form-control input-lg" ng-model="profile.name" placeholder="Name">
         </div>
         <div class="col-xs-offset-6 col-xs-1 right" ng-if="editing">
            <button class="btn btn-primary" id="done" ng-click="toggleEdit()">Done</button>
         </div>
      <!--/div-->
   </div>



<div class="row">
<div class="col-xs-6">


   <h4>Specialties</h4>
   <div class="form-group">
      <div class="col-xs-11">
         <div class="input-group" ng-repeat="specialty in profile.specialties track by $index">
            <span ng-if="!editing">{{specialty.value}}</span>
            <input type="text" class="form-control" ng-model="specialty.value" ng-if="editing">
            <span class="input-group-btn">
               <button class="btn btn-danger" ng-if="editing" ng-click="removeSpecialty($index)">Delete</button>
            </span>
         </div>
         <div class="input-group" ng-if="editing">
            <button class="btn btn-primary" id="addSpecialty" ng-click="addSpecialty()">Add</button>
         </div>
      </div>
   </div>

   <h4>Speaks</h4>
   <div class="form-group">
      <div class="col-xs-11">
         <div class="input-group" ng-repeat="language in profile.languages track by $index">
            <span ng-if="!editing">{{language.value}}</span>
            <input type="text" class="form-control" ng-model="language.value" ng-if="editing">
            <span class="input-group-btn">
               <button class="btn btn-danger" ng-if="editing" ng-click="removeLanguage($index)">Delete</button>
            </span>
         </div>
         <div class="input-group" ng-if="editing">
            <button class="btn btn-primary" id="addLanguage" ng-click="addLanguage()">Add</button>
         </div>
      </div>
   </div>

   <h4>About</h4>
   <div class="form-group">
      <div id="info" class="col-xs-11">
         <p class="form-control-static" ng-if="!editing">{{profile.info}}</p>
         <textarea class="form-control" rows="5" ng-model="profile.info" ng-if="editing" placeholder="About...">
         </textarea>
      </div>
   </div>

   <h4>Contact</h4>
   <div class="form-group" ng-if="!editing">
      <div class="col-xs-11">
         <div ng-if="profile.address.street">{{profile.address.street}}</div>
         <div ng-if="profile.address.city">{{profile.address.city}}</div>
         <div ng-if="profile.address.province">{{profile.address.province}}</div>
         <div ng-if="profile.address.phone">{{profile.address.phone}}</div>
      </div>
   </div>
   <div class="form-group" ng-if="editing">
      <div class="col-xs-11">
         <div class="form-group">
            <label class="col-xs-3 control-label" ng-if="editing">Street</label>
            <div class="col-xs-9" ng-if="editing">
               <input type="text" class="form-control" ng-model="profile.address.street">
            </div>
         </div>
         <div class="form-group">
            <label class="col-xs-3 control-label" ng-if="editing">City</label>
            <div class="col-xs-9" ng-if="editing">
               <input type="text" class="form-control" ng-model="profile.address.city" ng-if="editing">
            </div>
         </div>
         <div class="form-group">
            <label class="col-xs-3 control-label" ng-if="editing">State/Province</label>
            <div class="col-xs-9" ng-if="editing">
               <input type="text" class="form-control" ng-model="profile.address.province" ng-if="editing">
            </div>
         </div>
         <div class="form-group">
            <label class="col-xs-3 control-label" ng-if="editing">Phone #</label>
            <div class="col-xs-9" ng-if="editing">
               <input type="text" class="form-control" ng-model="profile.address.phone" ng-if="editing">
            </div>
         </div>
      </div>
   </div>

</div>
<div class="col-xs-6">

   <h4>Hours</h4>
   <div class="form-group" ng-if="!editing">
      <div class="col-xs-12">
         <div ng-repeat="day in profile.available">
            <label class="col-xs-1 control-label">
               {{['Mon','Tues','Wed','Thurs','Fri','Sat','Sun'][day.dayOfWeek]}}
            </label>
            <div class="col-xs-11">
               <p class="form-control-static" ng-if="!day.closed">
                  {{day.start | date:'shortTime'}} - {{day.end | date:'shortTime'}}
               </p>
               <label class="control-label" ng-if="day.closed">CLOSED</label>
            </div>
         </div>
      </div>
   </div>

   <div class="form-group" ng-if="editing">
      <div class="col-xs-12" ng-repeat="day in profile.available">
      <div class="form-group">
         <label class="col-xs-2 control-label">
            {{['Mon','Tues','Wed','Thurs','Fri','Sat','Sun'][day.dayOfWeek]}}
         </label>
         <div class="col-xs-3" ng-if="!day.closed">
            <div class="input-group">
               <input type="text" class="form-control input-sm" value="{{day.start|date:'h:mm a'}}" readonly="true">
               <div class="input-group-btn">
                  <button ng-click="timepicker(day,'start')" type="button" class="btn btn-default btn-sm">
                     <span class="glyphicon glyphicon-time"></span>
                  </button>
               </div>
            </div>
         </div>
         <label class="col-xs-1 control-label center-text" ng-if="!day.closed">-</label>
         <div class="col-xs-3" ng-if="!day.closed">
            <div class="input-group">
               <input type="text" class="form-control input-sm" value="{{day.end|date:'h:mm a'}}" readonly="true">
               <div class="input-group-btn">
                  <button ng-click="timepicker(day,'end')" type="button" class="btn btn-default btn-sm">
                     <span class="glyphicon glyphicon-time"></span>
                  </button>
               </div>
            </div>
         </div>
         <div class="col-xs-2 checkbox">
            <label>
               <input type="checkbox" ng-model="day.closed" ng-if="editing" ng-click="toggleClosed(day)">
               CLOSED
            </label>
         </div>
      </div>
      </div>
   </div>

</div>
</div>

</form>
