<ul id="requests">
   <li ng-repeat="appt in appointments | orderByPriority | orderBy:'start' | filter:'dr_pending'">
      <span class="{{appt.state}}">{{appt.title}} - {{appt.start | date: "MMM d, yyyy @ h:mm a"}}</span>
      <button class="btn btn-primary" ng-click="approveAppointment(appt)">Approve</button>
      <button class="btn btn-primary" ng-click="editAppointment(appt)">Suggest New Date/Time</button>
   </li>
</ul>

<div style="width: 760px" ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="calendar" calendar-watch-extra="eventState" calendar-watch-extra="eventConflict"></div>
